# Ignore Visual Studio temporary files, build results...

# User-specific files
*.rsuser
*.suo
*.user
*.userosscache
*.sln.docstates

*.userprefs

# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/
[Ll]ogs/

# Visual Studio 2015/2017 cache/options directory
.vs/

wwwroot/

# MSTest test Results
[TestRr]esults/

# NUnit
*.VisualState.xml
TestResult.xml

# Build Results of an ATL Project
[DllExe]ebug/
